USE [master]
GO

/****** Object:  Database [DBCRUD]    Script Date: 20/10/2025 ******/
CREATE DATABASE [DBCRUD] ON  PRIMARY 
( 
    NAME = N'DBCRUD', 
    FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\DBCRUD.mdf', 
    SIZE = 2048KB, 
    MAXSIZE = UNLIMITED, 
    FILEGROWTH = 1024KB 
)
 LOG ON 
( 
    NAME = N'DBCRUD_log', 
    FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\DBCRUD_log.ldf', 
    SIZE = 1024KB, 
    MAXSIZE = 2048GB, 
    FILEGROWTH = 10% 
)
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
    EXEC [DBCRUD].[dbo].[sp_fulltext_database] @action = 'enable'
END
GO

USE [DBCRUD]
GO

/****** Object:  Table [dbo].[Books] ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Books](
      NOT NULL,
      NOT NULL,
    [description] [nvarchar](max) NULL,
    [price] [decimal](10, 2) NULL,
      NULL,
    [rating] [decimal](2, 1) NULL,
    [image] [nvarchar](max) NULL,
    [year] [int] NULL,
    [pages] [int] NULL,
      NULL,
    [pdf] [nvarchar](max) NULL,
    [amazon] [nvarchar](max) NULL,
    [noStock] [bit] NULL,
    [id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
    [id] ASC
)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Users] ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Users](
    [UserID] [int] IDENTITY(1,1) NOT NULL,
      NOT NULL,
      NOT NULL,
      NOT NULL,
    [Cart] [nvarchar](max) NULL,
    [Paid_Book] [varchar](max) NULL,
    [Date_Joined] [date] NULL,
    [Blocked] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
    [UserID] ASC
),
UNIQUE NONCLUSTERED 
(
    [Email] ASC
)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[Books] 
ADD CONSTRAINT [DF_Books_Author] DEFAULT ('Herb Schildt') FOR [author]
GO

USE [master]
GO

/****** Sample Data ******/
USE [DBCRUD]
GO


INSERT INTO Users (FullName, Email, Password, Cart, Paid_Book, Date_Joined, Blocked)
VALUES 
('VINCENT JAMES GARCIA MANALASTAS', 'vincentmanalastas827@gmail.com', '123Vincent', '["C++: The Complete Reference"]', '', '2025-09-24', NULL);
GO

INSERT INTO Users (FullName, Email, Password, Cart, Paid_Book, Date_Joined, Blocked)
VALUES 
('Administrator', 'admin123@gmail.com', '123Admin', NULL, NULL, '2025-10-20', NULL);
GO
